*{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex
}

.header {
    font-weight: 600;
    padding: 2rem;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 230, 0);
    justify-items: center;
    align-items: center;
    color: navy;
}

.searchInput{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#left-column{
    width: 300px;
    min-height: 100vh;
    margin: 1vh;
}

#search-result{
    width: 100%;
    height: 400px;
    background-color: darkred;
}

#seach-result{
    margin: 1rem
}

#result{
   
    padding: 1rem;
    border: 2px solid black;
}

p {
    width: 100%;
    font-size: 1.5rem;
}

#search-history {
    padding: 1rem;
   
}

p:hover{
    color: navy;
    cursor: pointer;
}

#forecast {
    margin-top: 1rem;
}

.forecast-days{
    float:left;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 200px;
    height: 300px;
    border: solid black;
}